name: Build on Commit

on:
  push:
    branches: [ actions ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run PowerShell build script
        shell: pwsh
        run: Invoke-Build -Script ..\..\XlsCoordinatesConverter.build.ps1