name: Build on Commit

on:
  push:
    branches:
      - actions

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Invoke-Build
        run: pwsh -Command "Install-Module -Name InvokeBuild -Force"

      - name: Run build script
        run: pwsh -Command "Import-Module Invoke-Build; Invoke-Build ."
